In [2]:
! pip install selenium

Requirement already satisfied: selenium in c:\users\priyanka\anaconda3\lib\site-packages (4.1.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\priyanka\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: urllib3[secure]~=1.26 in c:\users\priyanka\anaconda3\lib\site-packages (from selenium) (1.26.4)
Requirement already satisfied: trio~=0.17 in c:\users\priyanka\anaconda3\lib\site-packages (from selenium) (0.19.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\priyanka\anaconda3\lib\site-packages (from trio~=0.17->selenium) (20.3.0)
Requirement already satisfied: idna in c:\users\priyanka\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.10)
Requirement already satisfied: cffi>=1.14 in c:\users\priyanka\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.5)
Requirement already satisfied: outcome in c:\users\priyanka\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: sniffio in c:\users\priyanka\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\priyanka\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: sortedcontainers in c:\users\priyanka\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.3.0)
Requirement already satisfied: pycparser in c:\users\priyanka\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\users\priyanka\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.0.0)
Requirement already satisfied: certifi in c:\users\priyanka\anaconda3\lib\site-packages (from urllib3[secure]~=1.26->selenium) (2020.12.5)
Requirement already satisfied: cryptography>=1.3.4 in c:\users\priyanka\anaconda3\lib\site-packages (from urllib3[secure]~=1.26->selenium) (3.4.7)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\users\priyanka\anaconda3\lib\site-packages (from urllib3[secure]~=1.26->selenium) (20.0.1)
Requirement already satisfied: six>=1.5.2 in c:\users\priyanka\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure]~=1.26->selenium) (1.15.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\priyanka\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.12.0)

In [3]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.simplefilter("ignore")

In [44]:
driver = webdriver.Chrome (r"C:/Users/PRIYANKA/Downloads/chromedriver_win32/chromedriver.exe")

In [6]:
driver.get('https://www.naukri.com/')

In [7]:
search_job = driver.find_element_by_id('qsb-keyword-sugg')
search_job.send_keys("Data Analyst")
search_loc = driver.find_element_by_xpath("//input[@id='qsb-location-sugg']")
search_loc.send_keys("Bangalore")

In [8]:
search_btn = driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_btn.click()

In [9]:
job_titles = []

In [10]:
title_tags = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
title_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="c46688d191fca12ba6ec0143ebb70dd5", element="7a77d6cb-c123-4ca4-bb5e-1a29d270be28")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c46688d191fca12ba6ec0143ebb70dd5", element="71ecc492-edac-494b-b4c9-0f9ffba25469")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c46688d191fca12ba6ec0143ebb70dd5", element="70f42557-5a4b-4520-a657-9eeda433e4a1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c46688d191fca12ba6ec0143ebb70dd5", element="311e0077-d998-4cfc-9f24-7eb2e05dfaa2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c46688d191fca12ba6ec0143ebb70dd5", element="28d1d1ff-0e32-43bc-84de-0770af068dff")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c46688d191fca12ba6ec0143ebb70dd5", element="1f0d2c51-d2f6-473b-b6f3-af428f748868")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c46688d191fca12ba6ec0143ebb70dd5", element="31928659-4b43-4212-8de2-c7356286a1f6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c46688d191fca12ba6ec0143ebb70dd5", element="06bbe765-fd67-4898-8e0b-d1b373c86967")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c46688d191fca12ba6ec0143ebb70dd5", element="b09e61b7-4192-4bac-b2be-6949404a38e8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c46688d191fca12ba6ec0143ebb70dd5", element="5b0473f6-5698-49ef-bf52-bf7bf5603036")>]

In [11]:
for i in title_tags:
    title = i.text
    job_titles.append(title)
job_titles[0:10]

['Hiring -Data Analyst, Business Analyst, MIS Analyst -3rd Party Payroll',
 'Senior Data Analyst III',
 'Business Analyst/ Data Analyst- Capital Market & SQL (Mandatory)',
 'Customer Data Management Analyst',
 'Data Analyst',
 'Assistant/deputy Manager - Geo-spatial Data Analyst',
 'Senior Data Analyst',
 'Senior Data Analyst',
 'Senior Data Analyst',
 'Openings For SQL Data Analyst']

In [12]:
jobs = pd.DataFrame({})
jobs ['Title'] =  job_titles
jobs[0:10]

                                               Title
0  Hiring -Data Analyst, Business Analyst, MIS An...
1                            Senior Data Analyst III
2  Business Analyst/ Data Analyst- Capital Market...
3                   Customer Data Management Analyst
4                                       Data Analyst
5  Assistant/deputy Manager - Geo-spatial Data An...
6                                Senior Data Analyst
7                                Senior Data Analyst
8                                Senior Data Analyst
9                      Openings For SQL Data Analyst

In [13]:
driver.get('https://www.naukri.com/')

In [14]:
search_job = driver.find_element_by_id('qsb-keyword-sugg')
search_job.send_keys("Data Scientist")
search_loc = driver.find_element_by_xpath("//input[@id='qsb-location-sugg']")
search_loc.send_keys("Bangalore")

In [15]:
search_btn = driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_btn.click()

In [16]:
job_titles_dsc = []

In [17]:
title_tags_dsc = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
title_tags_dsc[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="c46688d191fca12ba6ec0143ebb70dd5", element="62445f7c-40a2-4adc-a84c-9431b566acb4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c46688d191fca12ba6ec0143ebb70dd5", element="c352200c-930f-4ba9-998c-fdcc12ae0688")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c46688d191fca12ba6ec0143ebb70dd5", element="97f73534-2ce7-4c07-8402-8d0bb1cfc9dc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c46688d191fca12ba6ec0143ebb70dd5", element="95628ab8-3f32-4795-ba95-54b7e3ccfa80")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c46688d191fca12ba6ec0143ebb70dd5", element="c7747ec2-a6f9-4c97-b0cf-5810bf53abca")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c46688d191fca12ba6ec0143ebb70dd5", element="2aa5be65-8990-4435-9c26-8a38e846630c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c46688d191fca12ba6ec0143ebb70dd5", element="6f34c01d-80ed-41bd-9c7e-5ba121cb2e02")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c46688d191fca12ba6ec0143ebb70dd5", element="020eb749-5eb9-47b7-94fe-ef9080d1203c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c46688d191fca12ba6ec0143ebb70dd5", element="79689792-df16-4103-a1f7-5924bbe150f3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c46688d191fca12ba6ec0143ebb70dd5", element="16d90290-26fd-4fd9-a396-d3e8055a7d97")>]

In [18]:
for i in title_tags_dsc:
    title = i.text
    job_titles_dsc.append(title)
job_titles_dsc[0:10]

['Lead / Principal Data Scientist',
 'Data Scientist',
 'Senior Data Scientist',
 'Senior Data Scientist',
 'Data Scientist - Credit Risk',
 'Lead/Senior Data Scientist (NLP)',
 'Data Scientist 2',
 'Machine Learning AI Data Scientist',
 'Sr. Associate Consultant Data Scientist',
 'Senior Engineer - AIML - Data Scientist']

In [26]:
jobs = pd.DataFrame({})
jobs ['Title Data Scientist'] =  job_titles_dsc
jobs[0:10]

                      Title Data Scientist
0          Lead / Principal Data Scientist
1                           Data Scientist
2                    Senior Data Scientist
3                    Senior Data Scientist
4             Data Scientist - Credit Risk
5         Lead/Senior Data Scientist (NLP)
6                         Data Scientist 2
7       Machine Learning AI Data Scientist
8  Sr. Associate Consultant Data Scientist
9  Senior Engineer - AIML - Data Scientist